.navbarLiItem {
    padding: 5px;
    font-weight: 600;
    /* border-radius: 5px; */
}
.navbarLiItem:hover {
   background-color: red;
   color: white;
}
.MobileMenu{
    display: flex;
    justify-self: start;
    cursor: pointer;
    font-size: x-large;
}
.toggleItem {
    background-color: #111827;
}