@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body, input{  
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  height:100%; 
  background-color: #EBF0F0;
  /* background-color: #646e6e; */
  /* background-color: #f1f7ff; */
}

*{
  transition: .3s;
}

 /* width */
 ::-webkit-scrollbar {
  width: 0px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #022335;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff  !important;

  border-radius: 2px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(176, 178, 180)  !important; */

}

/* button color */
.primary_BTN {
  color: #fff;
  background-color: #dd2400;
  border: 1px solid #dd2400;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.primary_BTN:hover {
  color: #dd2400;
  background-color: #fff;
  border: 1px solid #dd2400;
}
.primary_BTN_Outline {
  color: #dd2400;
  background-color: #dd250005;
  border: 1px solid #dd2400;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.primary_BTN_Outline:hover {
  background-color: #dd2500;
  color: #fff;
  border: 1px solid #dd2400;
}